<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="containr">

        <div class="hero">
            <nav class="nav-navegation">
                <h2 class="nav-navegation__logo">Logo <span>logo2</span></h2>
                <ul>
                    <li><a href="/template/inicio.html">Inicio</a></li>
                    <li><a href="/template/categorias.html">Categorias</a></li>
                    <li><a href="/template/carrito.html">Carrito</a></li >
                    <li><a href="/template/login.html">Iniciar Sesion</a></li>
                    <li><a href="/template/contacto.html">Contacto</a></li>
                        
                    </ul>
                </nav>
            </div>
        </div>
    
</body>
</html>