<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="hero">
            <nav class="nav-navegation">
                <h2 class="nav-navegation__logo">Logo <span>logo2</span></h2>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Carrito</a></li >
                        <li><a href="#">Iniciar Sesion</a></li>
                        <li><a href="#">Contacto</a></li>
                        
                    </ul>
                </nav>
            </div>
        </div>
            
    <div class="container">
        <div class="carrusel">
            <ul>
                <li>Imagen carrusel</li>
                <li>Imagen carrusel</li>
                <li>Imagen carrusel</li>
                <li>Imagen carrusel</li>
                <li>Imagen carrusel</li>
                <li>Imagen carrusel</li>
                <li>Imagen carrusel</li>
            </ul>

        </div>
    </div>

    <div class="containter">
        <div class="category">
            <h2>CATEGORIAS</h2>
            <ul>
                <li>imagen</li>
                <li>imagen</li>
                <li>imagen</li>
                <li>imagen</li>
                <li>imagen</li>
                <li>imagen</li>
                <li>imagen</li>
                <li>imagen</li>
            </ul>

        </div>
    </div>


    
</body>
<footer>
    <div class="contact">

    </div>
</footer>
</html>