*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    margin: 0;
}
/*Estilos para la barra del menu*/
.hero{
    height: 100hv;
    width: 100%;
    background-size: cover;
    background-position: center;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: blanchedalmond;
    padding-bottom: 20px;

}

.nav-navegation__logo{
    color: black;
    font-size: 28px;

}

span{
    color: red;
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: green;
    transition: .3s;


}

/*Estilos para el inicio de sesion*/


.contenedor{
    width: 100%;
    padding: 15px;
    border-radius: 10px;

}
 .formulario{
    background: rgb(99, 94, 94);
    margin:150px;
    padding: 30px;
    border-radius: 10px;
    
 }

 h1{
    text-align: center;
    color: aqua;
    font-size: 40px;
 }

input[type="text"], input[type="password"]{
    font-size: 20px;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 0px 100px;
}

.input-contenedor{
    margin: 15px;
    padding: 10px;
    border-radius: 10px;


}


.icon{
    min-width: 50px;
    text-align: center;
    color: #aaa;
}

.buttom{
    border: none;
    /* width: 100%; */
    color: wheat;
    font-size: 20px;
    background:blue;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.button:hover{
    background: green;
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: blueviolet;
    font-weight: 600;

}

.link:hover{
    color: aquamarine;
}





